.grid{
    display: grid; /*Ici je défini la div "grid" en tant que containeur grid*/
    grid-template-columns: 200px 200px 200px; /*Ici je défini le nombre de colomnes et leur largeur*/
    column-gap: 1em; /*Je défini l'espace entre les colomne*/
    row-gap: 1em;/*Je défini l'espace entre les lignes*/
    height: 300px;
    color: white;
    
}
.one{
    background-color:rgb(170, 15, 15) ;
}
.two{
    background-color: rgb(24, 178, 224);
}
.three{
    background-color: rgb(54, 179, 116);
}
.four{
    background-color:purple
}
.five{
    background-color: orange;
}
.six{
    background-color:royalblue;
}
.seven{
    background-color: red;
}
.eight{
    background-color: greenyellow;
}
.nine{
    background-color: rgb(14, 14, 133)
}
/*------------------------------------------------------Exercice 2---------------------------------------------------------------------------------------------------------------*/
.grid2{
    display: grid;
    grid-template-columns: repeat(4, 3fr);/*Ici c'est pareil que mettre "grid-template-columns: 3fr 3fr 3fr 3fr" ;*/
    grid-template-rows: 5fr 1.5fr 3fr;
    grid-gap: 10px;
    object-fit: cover;

}
.one2{
    background-color:rgb(170, 15, 15) ;
}
.two2{
    background-color: rgb(24, 178, 224);
}
.three2{
    background-color: rgb(54, 179, 116);
}
.four2{
    background-color:purple
}
.five2{
    background-color: orange;
}
.six2{
    background-color:royalblue;
    grid-column-start: 4;
    grid-column-end: 5;
}
.seven2{
    background-color: red;
}
.eight2{
    background-color: greenyellow;
    grid-column-start:2;
    grid-column-start:3;
}
.nine2{
    background-color: rgb(14, 14, 133);
    grid-column-start: 4;
    grid-column-end: 5;
}
/*--------------------------------------------------------------Exercice 3-----------------------------------------------------------------------------------------*/
.grid3{
    display: grid;
    grid-template-columns: 3fr 6fr 4fr;
    grid-template-rows: 50px 50px 50px;
    background-color:pink;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    border-bottom: solid red;
    vertical-align: middle;
    font-size: large;
    line-height: 50px;
    border-bottom: solid red;
}
.menu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
    border-right: solid red;
    font-size: large;
    line-height: 100px;
}
.main{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border-right: solid red;
    border-bottom: solid red;
    font-size: large;
    line-height: 50px;
}
.right{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    border-bottom: solid red;
    font-size: large;
    line-height: 50px;
}
.footer{
    grid-column-start:2 ;
    grid-column-end: 4;
    text-align: center;
    font-size: large;
    line-height: 50px;
}
@media (max-width: 640px){
    .grid3{
        display:flex;
        flex-direction: column;
    }
    .menu{
        border-right:0;
    }
    .main{
        border-right:0;
    }
    .menu{
        border-bottom: solid red;
    }
}
